.fixed {
    &__title {
        text-transform: uppercase;
        font-size: 1.85rem;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 2.4rem;
        margin-bottom: 1rem;
    }

    &__container { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 5.6%;
    }

    &__button {
        box-sizing: border-box;
        flex: 0 0 12%;
        border: none;
        padding: .75rem 1.5rem;
        border-radius: 4px;
        background-color: $color-secondary;
        color: $color-white;
        cursor: pointer;

        &:active {
            color: $color-secondary;
            background-color: $color-primary;
            outline: 1px solid $color-secondary;
        }
    }
}