@keyframes armAnimation {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

.svg {
    &__bg {
        color: #333;
        position: absolute;
        top: 0;
        right: 0;
        border: none;

        @include responsive(notebook) { 
            width: 60px;
            height: 60px;
        }

        @include responsive(phone) { 
            width: 50px;
            height: 50px;
        }
    }

    &__arm {
        transform-origin: 130px 106px
    }

    &__bg:hover &__arm {
        animation: .5s forwards armAnimation;
    }
}