.damage {
    
    &__text {}
    &__list {}
    &__list-item {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $color-tertiary;
        text-transform: uppercase;
        margin: 5rem 0 6rem;
    }
    &__smalltext {
        color: $color-highlights;
        letter-spacing: .4px;
        line-height: 1rem;
        font-size: 1rem;
        margin-top: 1.2rem;
    }
    &__number {
        align-self: center;
        font-size: 7.6rem;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 1.9px;
        line-height: 8.3rem;
    }
}